.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-areas: "h h " "n c ";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
}

.app-wrapper-content {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 15px;
  background-color: aquamarine;
  grid-area: c;
}

